body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-family: poppins;
    
}

#hr
{
    width: 400px;
    text-align: left;
    margin-left: 0;
}
#whole
{
    margin: 20px;
    width: 400px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 30px;

}
#box{
    margin-top: 10px;
}
h2
{
    margin: 0;

}
#box
{
    text-align: center;
}

#length
{
    width: 250px;

}
input
{
    padding: 8px;
    border-style: solid;
    border-radius: 5px;
}
button
{
    padding: 8px;
}
#error
{
    color: red;
}